#console
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color black
  color white

.jqconsole
  padding 10px

.jqconsole-cursor
  background-color gray

.jqconsole-blurred .jqconsole-cursor
  background-color #666

.jqconsole-prompt, .jqconsole-input
  color #0d0

.jqconsole-old-prompt, .jqconsole-old-input
  color #0b0
